<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Animalia - Lo mejor para tus mascotas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <header>
        <div class="navbarSuperior">
            <a href="./views/login.html"><i class="fa-solid fa-user-check"></i> Ingresar</a>
            <p> | </p>
            <a href="./views/register.html"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
            <p> | </p>
            <a href="#"><i class="fa-solid fa-heart"></i> Favoritos</a>
            <p> | </p>
            <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
            &nbsp
        </div>

        <div class="navbarInferior">
            <div class="logo"><a href="/"><img src="/images/logo.png" alt="Animalia"></a></div>

            <nav class="secciones">

                <ul>
                    <li><a href="#"><img src="/images/Iconos-Menu-perro.png">
                            Perros</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-gato.png">
                            Gatos</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-pajaro.png">
                            Aves</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-Roedor.png">
                            Roedores</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-peces.png">
                            Peces</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-oferta.png">
                            Ofertas</a></li>
                </ul>

            </nav>

            <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

            <form action="#" method="POST">
                <input type="search" placeholder="Búsqueda"></input> <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
    </header>

    <!-- Aquí comienza el main: detalle de producto -->
    
    <main>
        
        <br>
        <br>
        <h1>[ Aquí va el contenido de la página de detalle de producto ]</h1>
        <br>
        <br>

    </main>

    <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
    <footer>
        <br>
        <div class="newsletter">
            <p><i class="fa-solid fa-envelope">&nbsp</i>Suscríbite para recibir ofertas y novedades:</p>

            <form action="#" method="GET">
                <input type="text" placeholder="Nombre completo">
                &nbsp
                <input type="email" placeholder="Dirección de email">
                <button type="submit" value="Submit">Enviar</button>
            </form>

        </div>
        <br>
        <br>

        <div class="enlaces">
            <section class="nosotros">
                <h4>Nosotros</h4>
                <br>
                <ul>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Sucursales</a></li>
                </ul>
            </section>

            <section class="ayuda">
                <h4>Ayuda</h4>
                <br>
                <ul>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Envios</a></li>
                </ul>
            </section>

            <section class="cuenta">
                <h4>Cuenta</h4>
                <br>
                <ul>
                    <li><a href="#">Mis pedidos</a></li>
                    <li><a href="#">Seguimiento</a></li>
                    <li><a href="#">Favoritos</a></li>
                </ul>
            </section>

            <section class="redes">
                <h4>¡Seguínos!</h4>
                <br>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                </ul>
            </section>
        </div>
    </footer>

</body>

</html>