<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles-reg.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Animalia - Lo mejor para tus mascotas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <header>
        <div class="navbarSuperior">
            <a href="/views/login.html"><i class="fa-solid fa-user-check"></i> Ingresar</a>
            <p> | </p>
            <a href="/views/register.html"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
            <p> | </p>
            <a href="#"><i class="fa-solid fa-heart"></i> Favoritos</a>
            <p> | </p>
            <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
            &nbsp
        </div>

        <div class="navbarInferior">
            <div class="logo"><a href="/"><img src="/images/logo.png" alt="Animalia"></a></div>

            <nav class="secciones">

                <ul>
                    <li><a href="#"><img src="/images/Iconos-Menu-perro.png">
                            Perros</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-gato.png">
                            Gatos</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-pajaro.png">
                            Aves</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-Roedor.png">
                            Roedores</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-peces.png">
                            Peces</a></li>
                    <li><a href="#"><img src="/images/Iconos-Menu-oferta.png">
                            Ofertas</a></li>
                </ul>

            </nav>

            <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

            <form action="#" method="POST">
                <input type="search" placeholder="Búsqueda"></input> <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
    </header>

    <!-- Aquí comienza el main -->
    <main>
        <!--Aqui comienza el form de registro de Mariano-->
        <div class="container__reg">
        <div class="register__title">
            <h2>¡Hazte miembro de la comunidad Animalia y disfruta de sus beneficios!</h2>
        </div>
        <div class="form__reg">
            <div class="tab-content">
              <div class="signup__reg">
                <div class="titulares__reg">
                    <h3>Beneficios para nuevos socios</h3>
                </div>
                <form action="/" method="post">
                    <div class="top__reg">
                      <div class="field-wrap">
                        <label>
                        Mi nombre es...<span class="req"></span>
                        </label>
                        <input type="text" required autocomplete="off" />
                      </div>
                      <div class="field-wrap">
                        <label>Mi mascota se llama...<span class="req"></span></label>
                        <input type="text"required autocomplete="off"/>
                      </div>
                    </div>
                    <div class="field-wrap">
                      <label>
                        Em@il...<span class="req"></span>
                      </label>
                      <input type="email"required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                      <label>Contraseña requerida...<span class="req"></span></label>
                      <input type="password"required autocomplete="off"/>
                    </div>
                    <button type="submit" class="button button-block">Hola Animalia</button>
                </form>
            </div>
                  <div class="signup__reg">
                      <div class="titulares__reg">
                        <h3>Quiero ver mis pedidos</h3>
                      </div>
                    <form action="/" method="post">
                      <div class="field-wrap">
                      <label>
                        Socio número...<span class="req"></span>
                      </label>
                      <input type="email"required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Contraseña...<span class="req"></span></label>
                        <input type="password"required autocomplete="off"/>
                    </div>
                    <button class="button button-block"/>Log In</button>
                    <br>
                    <p class="forgot__reg"><a href="#">¿Olvidaste tu contraseña?</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
    <!--Aqui termina el formulario de registro MARIANO-->
</main>
<!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
<footer>
    <div class="enlaces">
        <section class="nosotros">
            <h4>Nosotros</h4>
            <br>
            <ul>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Sucursales</a></li>
            </ul>
        </section>

        <section class="ayuda">
            <h4>Ayuda</h4>
            <br>
            <ul>
                <li><a href="#">Medios de pago</a></li>
                <li><a href="#">Envios</a></li>
            </ul>
        </section>

        <section class="cuenta">
            <h4>Cuenta</h4>
            <br>
            <ul>
                <li><a href="#">Mis pedidos</a></li>
                <li><a href="#">Seguimiento</a></li>
                <li><a href="#">Favoritos</a></li>
            </ul>
        </section>

        <section class="redes">
            <h4>¡Seguínos!</h4>
            <br>
            <ul>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </section>
    </div>
    <br>
    <div class="legales__register">
        <p>&nbsp © Pet Shop Animalia - Lo mejor para tus mascotas.<a href="#">Términos y condiciones</a></p>
    </div>
    <br>
</footer>

</body>

</html>





