 /* Estilos universales */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}

/*Estilos main pag Prod Details MARIANO*/


}
.titulares {
    color: var(--rosa);
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
}


div .detail__container {
    max-width: 100%;
}

.card {
    background-color: var(--blanco);
    width: 100%;
    border: 3px solid var(--verde);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    text-align-last: center;
}

.tituloInfoProd {
    color: var(--verde);
    padding: 18px;
    line-height: 1.5em;
    font-size: 16px;
    font-style: normal;
    text-align: center;

}

.info__delprod {
    color: #3c3c3c;
    padding: 18px;
    line-height: 1.5em;
    font-size: 12px;
    text-align: justify;
}

.detail_prod__imag{
    
    max-width: 200px;
}

.cuotas__container i {
    padding: 5px;
    color: #54A4CB;
    width: 1.5em;
    font-size: 25px;
    display: inline-block;
}

.menu__cantidad{
    color: #C9914B;
    font-family: 'Roboto', serif

}

.descripciones{
    padding: 5px;
    margin: 10px;
}