<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

    <!-- Aquí comienza el main -->
    <main>

        <div class="barraSeparacion"></div>

        <div class="formulario login">

            <br>
            <h2>¡Hola! Completá tus datos para ingresar.</h2>
            <br>
            <form method="POST" action="#">
                <br>
                <p><input type="text" name="usuario" placeholder="E-mail  o  usuari@" required></input></p>
                <p><input type="password" name="password" placeholder="Contraseña" required></input></p>
                <br>
                <input type="checkbox" name="datosUsuario" value="1" checked>
                <label>Recordar mis datos</label>
                <br>
                <button class="sendButton" type="submit"><a href="/">Enviar</a></button>
                <br>
                <br>
                <p>¿Olvidaste tu contraseña?</p>
                <p> Recuperar contraseña</p>
            </form>
            <br>
            <br>
            <h3>¿Primera vez en Animalia?</h3>
            <br>
            <h3 href="/views/register.html" class="crearPerfil">Creá tu cuenta</h3>
            <br>
            <br>
        </div>

    </main>

    <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>